@page "/"
@layout BlankLayout
@inject NavigationManager Nav

<div class="vz-splash">
    <div class="vz-splash-mark">V</div>
    <div class="vz-spinner"></div>
</div>

@code {
    protected override void OnInitialized() => Nav.NavigateTo("admin", replace: true);
}
