<!DOCTYPE html>
<html lang="fa" dir="rtl">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <title>@ViewData["Title"] | Vitorize Admin</title>

    <link rel="stylesheet" href="~/css/admin-login.css" asp-append-version="true" />
</head>

<body class="admin-login-body">
    @RenderBody()

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>